* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.App {
  width: 1200px;
  margin: 0 auto;
}

.nav {
  width: 1200px;
  height: 150px;
  margin: 0 auto;
  margin-top: 20px;
}

.leftNav {
  float: left;
  display: flex;
  gap: 10px;
}

.leftNav > img {
  width: 50px;
  height: 50px;
}

.leftNav > h1 {
  font-size: 20px;
  color: #4d463d;
}

.rightNav {
  float: right;
}

.connectButtonContainer {
  display: inline-block;
  margin-right: 10px;
}

.buttonContainer {
  border-radius: 16px;
  display: inline-block;
}

.connectButton {
  border: 1px solid #c1c5cc;
  border-radius: 2px;
  color: #999;
  width: 100%;
  height: auto;
  font-size: 15px;
  padding: 5px;
  text-align: center;
}

.networkErr {
  background-color: rgb(253, 234, 241) !important;
  border-radius: 16px !important;
  color: rgb(213, 0, 102) !important;
  width: 100%;
  height: auto;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

.btn {
  margin-right: 50px;
  cursor: pointer;
  background-color: #b39c7d;
  color: #fff;
}

.pageButtonBold {
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.title strong {
  color: #e66d16;
}

.wallet {
  border: 1px solid #c1c5cc;
}

.wallet > h2 {
  color: #6f6558;
  font-size: 14px;
  padding: 30px;
}

.wallet > .menu {
  display: flex;
  border-top: 1px solid #c1c5cc;
  border-bottom: 1px solid #c1c5cc;
  gap: 150px;
}

.wallet > .menu > li {
  color: #c1c5cc;
  font-size: 12px;
  padding: 5px 0;
  margin-left: 30px;
}

.coin {
  display: flex;
}

.coin > li {
  width: 200px;
}

.name {
  color: #333;
  font-size: 14px;
  font-weight: 700;
}

.symbol {
  color: #999;
  font-size: 12px;
}

.balance {
  margin-top: 30px;
  margin-left: 20px;
}

.price {
  margin-top: 30px;
  margin-left: 20px;
}
