* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

/* 전체 너비에 대한 반응형 스타일 */
.App {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* 네비게이션에 대한 반응형 스타일 */
.nav {
  width: 100%;
  max-width: 1200px;
  height: 150px;
  margin: 0 auto;
  margin-top: 20px;
}

/* 왼쪽 네비게이션 아이템에 대한 스타일 */
.leftNav {
  float: left;
  display: flex;
  gap: 10px;
}

.leftNav > img {
  width: 50px;
  height: 50px;
}

.leftNav > h1 {
  font-size: 20px;
  color: #4d463d;
}

/* 오른쪽 네비게이션 아이템에 대한 스타일 */
.rightNav {
  float: right;
}

.connectButtonContainer {
  display: inline-block;
  margin-right: 10px;
}

.buttonContainer {
  border-radius: 16px;
  display: inline-block;
}

.connectButton {
  border: 1px solid #dee3eb;
  border-radius: 2px;
  color: #999;
  width: 100%;
  height: auto;
  font-size: 15px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.networkErr {
  background-color: rgb(253, 234, 241) !important;
  border-radius: 16px !important;
  color: rgb(213, 0, 102) !important;
  width: 100%;
  height: auto;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

.btn {
  margin-right: 50px;
  background-color: #b39c7d;
  color: #fff;
  cursor: pointer;
}

.pageButtonBold {
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}

.title strong {
  color: #e66d16;
  font-size: 28px;
}

.wallet {
  border: 1px solid #ebeef2;
}

.wallet > h2 {
  color: #6f6558;
  font-size: 14px;
  padding: 30px;
}

.wallet > .menu {
  display: flex;
  border-top: 1px solid #ebeef2;
  border-bottom: 1px solid #ebeef2;
  gap: 150px;
}

.wallet > .menu > li {
  color: #c1c5cc;
  font-size: 12px;
  padding: 5px 0;
  margin-left: 30px;
}

.coin {
  display: flex;
}

.coin > li {
  width: 160px;
}

.coin > li:nth-child(2) {
  margin-left: 10px;
}

.coin > li:nth-child(3) {
  margin-left: 40px;
}

.coin > li:nth-child(4) {
  margin-left: 60px;
}

.coin > li:nth-child(5) {
  margin-left: 40px;
}

.coin-name {
  cursor: pointer;
}

.name {
  color: #333;
  font-size: 14px;
  font-weight: 700;
}

.symbol {
  color: #999;
  font-size: 12px;
}

.li-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 250px !important;
  margin-top: 25px;
  margin-left: 20px;
}

.deposit {
  width: 105px;
  height: 32px;
  margin-right: 10px;
  background-color: #b39c7d;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.withdraw {
  width: 105px;
  height: 32px;
  color: #b39c7d;
  border: 1px solid #b39c7d;
  background-color: #fff;
  border-radius: 5px;
}

.dimm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.depositpage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33%;
  height: 95%;
  padding: 1.5rem 1.5rem;
  /* 1rem : 16px */
  background-color: #fff;
  z-index: 2;
  overflow: hidden;
}

.withdrawpage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 33%;
  height: 95%;
  /* 1rem : 16px */
  background-color: #fff;
  z-index: 2;
  overflow: hidden;
}

.box {
  padding: 1.5rem 1.5rem;
}

.modal-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  font-weight: 700;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.text-gray {
  font-size: 14px;
  color: #999;
  display: block;
  margin-bottom: 20px;
}

strong {
  font-size: 12px;
  color: #999;
}

.wallet-address {
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
}

.address {
  width: calc(100% - 66px);
  height: auto;
  padding: 10px 20px;
  border: 1px solid #e6d2b8;
  word-break: break-all;
  font-size: 14px;
  color: #333;
  background: #faf7f2;
  border-radius: 1px;
  font-weight: 600;
}

.three {
  color: #e66d16;
}

.copy-button {
  height: auto;
  margin-left: 10px;
  border: 1px solid #e6d2b8;
  background-color: #fff;
  border-radius: 1px;
  padding: 10px;
  color: #6f6558;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s;
}

.copy-button:hover {
  background-color: #e66d16;
  color: #fff;
}

.line {
  content: " ";
  border-bottom: 1px solid #dee3eb;
}

.warning {
  margin-top: 10px;
  margin-left: 16px;
}

.warning_item {
  list-style: disc;
  font-size: 12px;
  color: #999;
  margin-bottom: 10px;
}

input {
  color: #333;
  border: 1px solid #dee3eb;
  cursor: pointer;
  height: 46.4px;
  width: 100%;
  padding: 0 20px;
  margin-top: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none;
}

::placeholder {
  color: #dee3eb;
}

#withdrawAmount {
  display: block;
  font-size: 18px;
}

.exchange-value-input {
  font-size: 12px;
  color: #b39c7d;
  margin-top: 10px;
  margin-bottom: 20px;
}

.pointer {
  margin-left: 8px;
}

.exchange-value-input-max {
  margin-left: 8px;
  border: 1px solid #b39c7d;
  background-color: #fff;
  border-radius: 12px;
  padding: 2px 5px;
  font-size: 10px;
  color: #b39c7d;
}

#withdrawAddress {
  margin-bottom: 20px;
}

.submit {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  border: none;
  background-color: #b39c7d;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.network {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 45%;
  background-color: #fff;
  padding: 1.5rem 1.5rem;
  z-index: 2;
}

.chart-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  z-index: 2;
}
